{% extends 'views/layout.twig' %}

{% block body %}
<div class="container" id="base">
  <h1>Base</h1>
  {% if user.id is defined %}
  {% include 'views/partials/listing.twig' %}
  {% else %}
  <p>No articles in base are available for you.</p>
  {% endif %}
</div>
{% endblock %}
