{% extends 'views/layout.twig' %}

{% block header %}
{{ menu('main', 'views/menus/home.twig') }}
{% endblock header %}

{% block body %}
<section class="full-page" id="index">
  <div class="container">
    <img src="{{paths.theme}}images/logo_original.png" alt="anthillsolutions" title="anthillsolutions" />
    <h1>
      towards <span>solutions</span> together
    </h1>
    <p>
      Managing micro services around the world and using geo-data bringing
      people into advanced solutions.
    </p>
  </div>
</section>
<section id="about">
  <h1>About</h1>
</section>
<section id="contact">
  <h1>Contact</h1>
</section>
{% endblock body %}
