{% extends 'views/layout.twig' %}

{% block header %}
{{ menu('main', 'views/menus/home.twig') }}
{% endblock header %}

{% block body %}
<section class="full-page" id="index">
  <div id ="chevron">
  </div>
  <div class="container">
    <img src="{{paths.theme}}images/logo_original.png" alt="anthillsolutions" title="anthillsolutions" />
    <h1>
      towards <span>solutions</span> together
    </h1>
    <p>
      Managing micro services around the world and using geo-data bringing
      people into advanced solutions.
    </p>
  </div>
</section>

{% include('views/partials/services.twig') %}

<section id="contact">
  <div class="container">
    <h1>Contact</h1>
    <div class="row">
      <h2>Location</h2>
      <div id="map" class="col-xs-12">My map will go here</div>
      <hr />
    </div>
    <div class="row">
      <h2>Contact form</h2>
      {{ boltforms('contact') }}
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>
          You're welcome.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock body %}

{% block footer %}
  {% include('views/partials/footer.twig') %}
{% endblock footer %}
