{% extends 'views/layout.twig' %}

{% block menu %}
{{ menu('main', 'views/menus/home.twig') }}
{% endblock %}

{% block body %}
<div class="full-page vertical-center" id="home">
  <img src="{{paths.theme}}images/logo.png" alt="anthillsolutions" title="anthillsolutions" />
  <h1>anthill<span>solutions</span></h1>
</div>
{% endblock %}
