{% extends 'views/layout.twig' %}

{% block header %}
{% if user.id is defined %}
{{ menu('main', 'views/menus/home.twig') }}
{% endif %}
{% endblock header %}

{% block body %}
<div class="container full-page" id="home">
  <div class="vertical-align">
    <img src="{{paths.theme}}images/logo.jpg" alt="anthillsolutions" title="anthillsolutions" />
  </div>
</div>
{% endblock body %}
