{% extends 'views/layout.twig' %}

{% block header %}
{{ menu('main', 'views/menus/home.twig') }}
{% endblock header %}

{% block body %}
<section class="full-page" id="index">
  <div class="container">
    <img src="{{paths.theme}}images/logo_original.png" alt="anthillsolutions" title="anthillsolutions" />
    <h1>
      towards <span>solutions</span> together
    </h1>
    <p>
      Managing micro services around the world and using geo-data bringing
      people into advanced solutions.
    </p>
  </div>
</section>
<section id="about">
  <div class="container">
    <h1>About</h1>
    <h2>Micro-services</h2>
    <h2>geo-data</h2>
    <h2>Application design</h2>
  </div>
</section>
<section id="contact">
  <div class="container">
    <h1>Contact</h1>
    <div class="row">
      <h2>Location</h2>
      <div id="map" class="col-xs-12">My map will go here</div>
      <hr />
    </div>
    <div class="row">
      <h2>Contact form</h2>
      <form class="col-xs-12">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">
            <i class="fa fa-user-o fa-fw"></i>
          </span>
          <input type="text" class="form-control" required placeholder="Your name" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">
            <i class="fa fa-envelope-o fa-fw"></i>
          </span>
          <input type="text" class="form-control" required placeholder="Your email address" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">
            <i class="fa fa-info fa-fw" aria-hidden="true"></i>
          </span>
          <input type="text" class="form-control" required placeholder="Your message" aria-describedby="basic-addon1">
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="5" id="comment" required placeholder="Your message"></textarea>
        </div>
        <div class="form-group text-right">
          <button type="submit" class="btn btn-success">
            <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Send message
          </button>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>
          You're welcome.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock body %}

{% block footer %}
<footer class="footer-black">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <img src="{{paths.theme}}images/logo_200x79.png" alt="anthillsolutions" title="anthillsolutions" />
        <p>
          Towards <span>solutions</span> together
        </p>
        <p>
          <a href="mailto:info@anthillsolutions.ch">info@anthillsolutions.ch</a>
        </p>
      </div>
      <div class="col-xs-12 col-sm-2">
        <h4>Solutions</h4>
        <ul class="list-unstyled">
          <li>
            <a href="#">micro-services</a>
          </li>
          <li>
            <a href="#">application design</a>
          </li>
          <li>
            <a href="#">website design</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-2">
        <h4>Projects</h4>
        <ul class="list-unstyled">
          <li>
            <a href="#">nutrient</a>
          </li>
          <li>
            <a href="#">geo-wiki</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-2">
        <h4>Company</h4>
        <ul class="list-unstyled">
          <li>
            <a href="#">Team</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{% endblock footer %}
