<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="anthillsolutions, anthill, solutions, wsn, wireless sensor networks, wireless, sensor, networks">
    {% block description %}
    <meta name="description" content="anthillsolutions website">
    {% endblock description %}
    <meta name="author" content="anthillsolutions">
    {% block title %}
    <title>{{ app.config.get('general/sitename') }}</title>
    {% endblock title %}
    <link rel="icon" href="{{paths.theme}}/favicon.png">
    <!-- build:css css/bundle.css -->
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/highlightjs/styles/github.css">
    <link rel="stylesheet" href="../lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/services.css">
    <link rel="stylesheet" href="../css/team.css">
    <!-- endbuild -->
  </head>

  <body>
    {% block header %}
    <header>
      {{ menu('main', 'views/menus/everywhere.twig') }}
    </header>
    {% endblock header %}
    {% block body %}
    {% endblock body %}
    {% block footer %}
    <footer class="footer">
      <p>
        © 2017 anthill<span>solutions</span> •
        <a href="mailto:info@anthillsolutions.ch">contact <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </p>
    </footer>
    {% endblock footer %}
    <script>
      var TWIG = {};
      TWIG.imagePath = "{{ paths.theme }}";
    </script>
    <!-- build:js js/bundle.js -->
    <script src="../lib/jquery/dist/jquery.min.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../lib/highlightjs/highlight.pack.min.js"></script>
    <script src="../js/foo.js"></script>
    <!-- endbuild -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1N_nobTheCxRMDAhgW4LMEXvE_jmnDPs&callback=myMap"></script>
    <script>
      hljs.initHighlightingOnLoad();
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-80773733-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
