{% extends 'views/layout.twig' %}

{% block title %}
<title>{{ record.title }}</title>
{% endblock title %}

{% block body %}
  {% include(record.partials) %}
{% endblock body %}

{% block footer %}
  {% include('views/partials/footer.twig') %}
{% endblock footer %}
