<footer class="footer-black">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <a href="/">
          <img src="{{paths.theme}}images/logo_200x79.png" alt="anthillsolutions" title="anthillsolutions" />
        </a>
        <p>
          Towards <span>solutions</span> together
        </p>
        <p>
          <a href="mailto:info@anthillsolutions.ch">info@anthillsolutions.ch</a>
        </p>
      </div>
      <div class="col-xs-12 col-sm-2">
        <h4>Solutions</h4>
        <ul class="list-unstyled">
          <li>
            <a href="/#services">micro-services</a>
          </li>
          <li>
            <a href="/#services">application design</a>
          </li>
          <li>
            <a href="/#services">website design</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-2">
        <h4>Projects</h4>
        <ul class="list-unstyled">
          <li>
            <a href="https://github.com/anthillsolutions/nutrient" target="_blank">nutrient</a>
          </li>
          <li>
            <a href="#" class="btn disabled">geo-wiki</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-2">
        <h4>Company</h4>
        <ul class="list-unstyled">
          <li>
            <a href="/team">Team</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
