<section id="geo-wiki">
  <div class="chevron">
  </div>
  <div class="container">
    <h1>Geo-wiki</h1>
    <div class="row space-up">
      <div class="col-sm-6" style="height: 750px">
        <div class="vertical-align">
          <p class="text-center">
            This is your new companion when you travel around the world. 
          </p>
          <hr class="half" />
          <p class="text-justify">
            Either at home, at your hotel or even in the streets of Colombo,
            launch geo-wiki and see every activities nearby. You can plan
            activities up to three months before.
          </p>
          <hr class="half" />
          <p class="text-justify">
            Pay up front and don't spend a single dime afterwards. You stay safe,
            and handle your fees.
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="smartphone middle">
          <img src="{{paths.theme}}/images/compo.jpg" />
        </div>
      </div>
    </div>
    <div class="row span-down">
      <div class="col-xs-12">
        <p class="text-center">
          Stay tune for more information.
        </p>
      </div>
    </div>
  </div>
</section>