<div id="services">
  <div class="double-dash">
  </div>
  <div class="container">
    <h1>Services</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="bordered">
          <div>
            <i class="fa fa-cogs fa-5x" aria-hidden="true"></i>
          </div>
          <h2>Micro-services</h2>
          <p>
            Transform old monolitic systems into numerous
            adaptive micro-services.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="bordered">
          <div>
            <i class="fa fa-globe fa-5x" aria-hidden="true"></i>
          </div>
          <h2>Geo-data</h2>
          <p>
            Transform old monolitic systems into numerous
            adaptive micro-services.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="bordered">
          <div>
            <i class="fa fa-mobile fa-5x" aria-hidden="true"></i>
          </div>
          <h2>Geo-data</h2>
          <p>
            Transform old monolitic systems into numerous
            adaptive micro-services.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
