<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-main" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img alt="anthillsolutions" src="{{ paths.theme }}images/logo_200x79.png">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="menu-main">
      <ul class="nav navbar-nav">
        {% for item in menu %}
        <li>
          <a href="{{ item.link }}">{{ item.label }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
