@font-face {
  font-family: 'MarkPro';
  src: url("../fonts/MarkPro.otf") format("opentype");
}

html, body {
  height: 100%;
}

body {
  font-weight: 300;
  font-family: 'MarkPro', arial, sans-serif;
}

body > .container {
  padding-top: 70px;
  min-height: 100%;
}

.full-page {
  height: 100%;
}

h1, h2, h3, h4 {
  font-weight: 300;
  color: darkslategrey;
}

h1 span {
  font-weight: 600;
}

nav img {
  height: 40px;
}

.navbar-transparent {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}

.navbar-brand {
  padding: 5px 15px;
}

#home img {
  width: 100%;
}

article {
  padding: 0 20px;
  border-bottom: solid lightgrey 1px;
}

footer {
  margin-top: -50px;
}

footer p {
  text-align: center;
}

footer p span {
  font-weight: 600;
}

.subtitle {
  text-align: center;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
