@font-face {
  font-family: 'MarkPro';
  src: url("../fonts/MarkPro.otf") format("opentype");
}

html, body {
  height: 100%;
  font-size: 18px;
}

body {
  font-weight: 300;
  font-family: 'MarkPro', arial, sans-serif;
}

body > .container {
  padding-bottom: 70px;
  min-height: 100%;
}

.full-page {
  height: 100%;
}

#index h1 span {
  color: #878a8b;
}

@media (max-width: 991px) {
  #index img {
    width: 80%;
    margin: 20vh 10% 2vh 10%;
  }
  #index h1 {
    text-align: center;
    margin-bottom: 2vh;
  }
  #index h1 span {
    display: block;
  }
  #index p {
    display: block;
    width: 100%;
    text-align: justify;
  }
}

@media (min-width: 768px) {
  #index p {
    width: 60%;
    margin-left: 20%;
  }
}

@media (min-width: 992px) {
  #index img {
    margin-top: 40%;
  }
  #index h1 {
    width: 479px;
    text-align: center;
  }
  #index p {
    width: 479px;
    margin-left: 0;
    text-align: justify;
  }
}

#about,
#contact {
  padding-top: 91px;
}

#about {
  background: #878a8b;
  height: 600px;
}

#contact {
  background: #262F36;
}

#contact h1,
#contact h2 {
  color: #d7d7d7;
}

#contact h1 {
  text-align: center;
}

#contact h1:after {
  height: 4px;
  display: block;
  width: 100px;
  margin: 5px auto;
  background: #006cb6;
  content: '';
}

#contact form .input-group,
#contact form .form-group {
  margin: 10px 0;
}

#contact form textarea {
  height: 150px;
}

#map {
  height: 400px;
}

h1, h2, h3, h4 {
  font-weight: 300;
  color: #55555f;
}

h1 span {
  font-weight: 600;
}

header {
  min-height: 70px;
}

header.image {
  height: 10vh;
  background-position: center;
  background-size: cover;
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}

@media (min-width: 320px) {
  header.image {
    height: 20vh;
  }
}

@media (min-width: 992px) {
  header.image {
    height: 30vh;
  }
}

@media (min-width: 1200) {
  header.image {
    height: 35vh;
  }
}

nav {
  padding-top: 20px;
}

nav img {
  height: 40px;
}

.navbar-transparent {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}

.navbar-tinted {
  background-color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
}

.navbar-brand {
  padding: 5px 15px;
}

#home img {
  width: 100%;
}

article {
  padding: 20px 0;
  border-bottom: solid lightgrey 1px;
}

.teaser {
  font-style: italic;
}

.row h1 {
  display: block;
}

.row .date {
  padding-top: 40px;
}

.box-blue {
  padding: 10px;
  margin: 10px 15px;
  border: solid 1px steelblue;
  border-radius: 10px;
}

.box-blue h3 {
  margin-top: 0;
  color: lightslategrey;
}

.user {
  position: relative;
  margin-top: 40px;
  padding-top: 40px;
  border-top: solid 1px lightgrey;
}

.user .author,
.user h4 {
  font-size: 18px;
  font-weight: 600;
  color: darkslategrey;
}

.social a {
  color: silver;
}

.social .fa-facebook:hover {
  color: #3b5998;
}

.social .fa-twitter:hover {
  color: #326ada;
}

.social .fa-linkedin:hover {
  color: #0077b5;
}

.footer {
  margin-top: -50px;
}

.footer p {
  text-align: center;
}

.footer p span {
  font-weight: 600;
}

.footer-black {
  background: black;
  padding: 5vh 10px;
}

.footer-black h4 {
  color: gold;
}

.subtitle {
  text-align: center;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#chevron {
  position: absolute;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  margin-top: 30%;
  height: 40%;
  width: 100%;
  z-index: -1;
}

@media (min-width: 992px) {
  #chevron {
    height: 40%;
    margin-top: 20%;
  }
}

#chevron:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(245, 245, 245, 0.9);
  -webkit-transform: skew(0deg, 6deg);
  -moz-transform: skew(0deg, 6deg);
  -ms-transform: skew(0deg, 6deg);
  -o-transform: skew(0deg, 6deg);
  transform: skew(0deg, 6deg);
}

#chevron:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(250, 250, 250, 0.9);
  -webkit-transform: skew(0deg, -6deg);
  -moz-transform: skew(0deg, -6deg);
  -ms-transform: skew(0deg, -6deg);
  -o-transform: skew(0deg, -6deg);
  transform: skew(0deg, -6deg);
}
