@font-face {
  font-family: 'MarkPro';
  src: url("../fonts/MarkPro.otf") format("opentype");
}

html, body {
  height: 100%;
  font-size: 18px;
}

body {
  font-weight: 300;
  font-family: 'MarkPro', arial, sans-serif;
}

body > .container {
  padding-bottom: 70px;
  min-height: 100%;
}

.full-page {
  height: 100%;
}

#index h1 span {
  color: #878a8b;
}

@media (max-width: 991px) {
  #index img {
    width: 80%;
    margin: 20vh 10% 2vh 10%;
  }
  #index h1 {
    text-align: center;
    margin-bottom: 2vh;
  }
  #index h1 span {
    display: block;
  }
  #index p {
    display: block;
    width: 100%;
    text-align: justify;
  }
}

@media (min-width: 768px) {
  #index p {
    width: 60%;
    margin-left: 20%;
  }
}

@media (min-width: 992px) {
  #index img {
    margin-top: 40%;
  }
  #index h1 {
    width: 479px;
    text-align: center;
  }
  #index p {
    width: 479px;
    margin-left: 0;
    text-align: justify;
  }
}

h1, h2, h3, h4 {
  font-weight: 300;
  color: #55555f;
}

h1 span {
  font-weight: 600;
}

header {
  min-height: 70px;
}

header.image {
  height: 10vh;
  background-position: center;
  background-size: cover;
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}

@media (min-width: 320px) {
  header.image {
    height: 20vh;
  }
}

@media (min-width: 992px) {
  header.image {
    height: 30vh;
  }
}

@media (min-width: 1200) {
  header.image {
    height: 35vh;
  }
}

nav {
  margin-top: 20px;
}

nav img {
  height: 40px;
}

.navbar-transparent {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}

.navbar-tinted {
  background-color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
}

.navbar-brand {
  padding: 5px 15px;
}

#home img {
  width: 100%;
}

article {
  padding: 20px 0;
  border-bottom: solid lightgrey 1px;
}

.teaser {
  font-style: italic;
}

.row h1 {
  display: block;
}

.row .date {
  padding-top: 40px;
}

.box-blue {
  padding: 10px;
  margin: 10px 15px;
  border: solid 1px steelblue;
  border-radius: 10px;
}

.box-blue h3 {
  margin-top: 0;
  color: lightslategrey;
}

.user {
  position: relative;
  margin-top: 40px;
  padding-top: 40px;
  border-top: solid 1px lightgrey;
}

.user .author,
.user h4 {
  font-size: 18px;
  font-weight: 600;
  color: darkslategrey;
}

.social a {
  color: silver;
}

.social .fa-facebook:hover {
  color: #3b5998;
}

.social .fa-twitter:hover {
  color: #326ada;
}

.social .fa-linkedin:hover {
  color: #0077b5;
}

footer {
  margin-top: -50px;
}

footer p {
  text-align: center;
}

footer p span {
  font-weight: 600;
}

.subtitle {
  text-align: center;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
