@font-face {
  font-family: 'MarkPro';
  src: url('../fonts/MarkPro.otf') format('opentype');
}

@import '_colors';
@import '_mixins';

html, body {
  height: 100%;
  font-size: 18px;
}

body {
  font-weight: 300;
  font-family: 'MarkPro', arial, sans-serif;
}

body > .container {
  padding-bottom: 70px;
  min-height: 100%;
}

.full-page {
  height: 100%;
}

#index {
  h1 {
    span {
      color: $anthill_grey;
    }
  }
  @media (max-width: 991px) {
    img {
      width: 80%;
      margin: 20vh 10% 2vh 10%;
    }
    h1 {
      text-align: center;
      margin-bottom: 2vh;
      span {
        display: block;
      }
    }
    p {
      display: block;
      width: 100%;
      text-align: justify;
    }
  }
  @media (min-width: 768px) {
    p {
      width: 60%;
      margin-left: 20%;
    }
  }

  @media (min-width: 992px) {
    img {
      margin-top: 40%;
    }
    h1 {
      width: 479px;
      text-align: center;
    }
    p {
      width: 479px;
      margin-left: 0;
      text-align: justify;
    }
  }
}

#about,
#contact {
  @include padding-below-menu();
}

#about {
  background: $anthill_grey;
  height: 600px;
}

#contact {
  background: #262F36;
  h1,
  h2 {
    color: rgb(215,215,215);
  }
  h1 {
    text-align: center;
  }
  h1:after {
    height: 4px;
    display: block;
    width: 100px;
    margin: 5px auto;
    background: $anthill-blue;
    content: '';
  }
  form {
    .input-group,
    .form-group {
      margin: 10px 0;
    }
    textarea {
      height: 150px;
    }
  }
}

#map {
  height: 400px;
}

h1, h2, h3, h4 {
  font-weight: 300;
  color: rgb(85,85,95);
}

h1 {
  span {
    font-weight: 600;
  }
}

header {
  min-height: 70px;
}

header.image {
  height: 10vh;
  background-position: center;
  background-size: cover;
  @media (min-width: 320px) {
    height: 20vh;
  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    height: 30vh;
  }

  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200) {
    height: 35vh;
  }
}

nav {
  padding-top: 20px;
  img {
    height: 40px;
  }
}

.navbar-transparent {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar-tinted {
  background-color: rgba(255,255,255,0.9);
  border-color: rgba(255,255,255,0.9);
}

.navbar-brand {
  padding: 5px 15px;
}

#home {
  img {
    width: 100%;
  }
}

article {
  padding: 20px 0;
  border-bottom: solid lightgrey 1px;
}

.teaser {
  font-style: italic;
}

.row h1 {
  display: block;
}

.row .date {
  padding-top: 40px;
}

.box-blue {
  padding: 10px;
  margin: 10px 15px;
  border: solid 1px steelblue;
  border-radius: 10px;
  h3 {
    margin-top: 0;
    color: lightslategrey;
  }
}

.user {
  position: relative;
  margin-top: 40px;
  padding-top: 40px;
  border-top: solid 1px lightgrey;
  .author,
  h4 {
    font-size: 18px;
    font-weight: 600;
    color: darkslategrey;
  }
}

.social {
  a {
    color: silver;
  }
  .fa-facebook:hover {
    color: rgb(59, 89, 152);
  }
  .fa-twitter:hover {
    color: rgb(50,106,218);
  }
  .fa-linkedin:hover {
    color: rgb(0,119,181);
  }
}

.footer {
  margin-top: -50px;
  p {
    text-align: center;
    span {
      font-weight: 600;
    }
  }
}

.footer-black {
  background: black;
  padding: 10px;
}

.subtitle {
  text-align: center;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#chevron {
  position: absolute;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  margin-top: 30%;
  height: 40%;
  width: 100%;
  z-index: -1;
  @media (min-width: 992px) {
    height: 40%;
    margin-top: 20%;
  }
}

#chevron:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: $grey-light;
  -webkit-transform: skew(0deg, 6deg);
  -moz-transform: skew(0deg, 6deg);
  -ms-transform: skew(0deg, 6deg);
  -o-transform: skew(0deg, 6deg);
  transform: skew(0deg, 6deg);
}
#chevron:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: $grey-superlight;
  -webkit-transform: skew(0deg, -6deg);
  -moz-transform: skew(0deg, -6deg);
  -ms-transform: skew(0deg, -6deg);
  -o-transform: skew(0deg, -6deg);
  transform: skew(0deg, -6deg);
}
