@import '_colors';

#team {
  padding-bottom: 5vh;
  h1 {
    text-align: center;
  }
  h1:after {
    height: 4px;
    display: block;
    width: 100px;
    margin: 5px auto;
    background: $anthill-blue;
    content: '';
  }
  .card {
    margin: 20px;
    padding: 5px;
    border-bottom: solid 4px gold;
    img {
      border-radius: 50%;
      max-width: 100%;
    }
    h2 {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
  .chevron {
    position: absolute;
    text-align: center;
    padding: 12px;
    margin-bottom: 6px;
    margin-top: 30%;
    height: 400px;
    width: 100%;
    z-index: -1;
    @media (min-width: 992px) {
      height: 400px;
      margin-top: 20%;
    }
  }

  .chevron:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $grey-light;
    -webkit-transform: skew(0deg, 6deg);
    -moz-transform: skew(0deg, 6deg);
    -ms-transform: skew(0deg, 6deg);
    -o-transform: skew(0deg, 6deg);
    transform: skew(0deg, 6deg);
  }
  .chevron:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: $grey-superlight;
    -webkit-transform: skew(0deg, -6deg);
    -moz-transform: skew(0deg, -6deg);
    -ms-transform: skew(0deg, -6deg);
    -o-transform: skew(0deg, -6deg);
    transform: skew(0deg, -6deg);
  }
}

#people {
  background: $grey-superlight;
  @media (min-width: 768px) {
    padding: 10vh 0;
  }
  .left {
    .frame {
      border: 15px solid rgba(115,115,115,0.3);
      img {
        max-width: 100%;
        border: 5px solid white;
        box-shadow: 1px 1px 5px #888888
      }
    }
  }
  .right {
    background: white;
    border: solid 1px rgb(245,245,245);
    box-shadow: 1px 1px 5px rgb(240,240,240);
    padding: 2vh;
    h1 {
      margin-top: 0;
      font-size: 32px;
    }
    h2 {
      font-size: 26px;
    }
    .none {
      font-style: italic;
      color: rgb(115,115,115);
    }
  }
  .social {
    @media (min-width: 768px) {
      margin-top: 10vh;
    }
    a {
      background: $grey-light;
      color: rgb(115,115,115);
      border-radius: 100%;
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      box-shadow: 1px 1px 5px #dddddd;
    }
    a:hover {
      box-shadow: 1px 1px 5px #888888;
    }
  }
  .breadcrumb {
    @media (min-width: 768px) {
      margin-top: 10vh;
    }
  }
}
